= form_with(model: @player, local: true) do |form|
  .ml-4.mb-4
    .row
      .card
        - if @player.picture.attached? && @player.has_picture?
          = image_tag @player.picture, class: 'card-img-top', id: 'shot'
        - else
          = image_tag 'default.jpg', class: 'card-img-top', id: 'shot'
      .card.ml-2#viewfinder
        %video{width: '288', height: '301', autoplay: true}
      .form-group.col-6.mt-2
        %button.btn.btn-dark.btn-sm#changePicture{type: 'button'} Change Picture
        %button.btn.btn-dark.btn-sm#snap{type: 'button'} Snap
      .form-group.col-6
        = form.label :name
        = form.text_field :name, class: 'form-control'
      .form-group.col-6
        = form.label :date_of_birth
        = form.date_field :date_of_birth, class: 'form-control'
      .form-group.col-6
        = form.label :place_of_birth
        = form.text_field :place_of_birth, class: 'form-control'
      .form-group.col-6
        = form.label :height
        = form.text_field :height, class: 'form-control'
      .form-group.col-6
        = form.label :position
        = form.text_field :position, class: 'form-control'
      .form-group.col-6
        = form.label :foot
        = form.select :foot, ['Left', 'Right', 'Both'],{}, class: 'form-control'
      .form-group.col-6
        = form.label :current_club
        = form.text_field :current_club, class: 'form-control'
    .row
      .form-group.col-12.text-center
        = form.submit class: 'btn btn-dark'
        = link_to 'Back', :back, class: 'btn btn-dark ml-4'
    = form.hidden_field :player_picture, value: @player.player_picture
