%table.table.table-hover.my-class
  %thead.thead-dark
    %tr
      %th Name
      %th Birthdate
      %th Age
      %th Height
      %th Citezenship
      %th Position
      %th Foot
      %th Club
      %th{ colspan: '3'}
  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= player.date_of_birth
        %td= player.age
        %td= heightilize(player.height)
        %td= player.place_of_birth
        %td= player.position
        %td= player.foot
        %td= player.current_club
        %td= link_to 'Show', player_path(player)
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Delete', player_path(player), method: :delete
