.d-flex.justify-content-center
  .card
    - if @player.picture.attached? && @player.has_picture?
      = image_tag @player.picture, class: 'card-img-top'
    - else
      = image_tag 'default.jpg', class: 'card-img-top'

    .card-body
      %h5.card-title= @player.name
    %ul.list-group.list-group-flush
      %li.list-group-item= "Birthday: #{@player.date_of_birth}"
      %li.list-group-item= "Age: #{@player.age}"
      %li.list-group-item= "Height: #{heightilize(@player.height)}"
      %li.list-group-item= "Position: #{@player.position}"
      %li.list-group-item= "Foot: #{@player.foot}"
      %li.list-group-item= "Club: #{@player.current_club}"
    .card-body
      = link_to "Edit", edit_player_path(@player), class: 'card-link btn btn-dark'
      = link_to "Back", :back, class: 'card-link btn btn-dark'
