.container {
  position: relative;
  width: 100%;
  max-width: 1863px;
  max-height: 100vh;
  background: black;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 95vh;
  border-bottom: 2px solid white;
}

.container .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
